* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  padding-top: 1px;
  background-image: url("/imagenes/fondo.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
 
}

.descarga {
  
  border-radius: 10%;
  margin-left: 200px;
  margin-top: 80px;
 display: flex;
 align-self: flex-end ;
 padding: 50px;
 
}