:root {
  --color-fuente: #ffffff;
  --color-fondo: #000;
}

[tema="light"] {
  --color-fuente: #000;
  --color-fondo: rgb(237, 238, 234);
}


* {
  margin: 0;
  padding: 0;
  font-family: url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
  text-decoration: none;
  list-style: none;
}


.container {
  max-width: 1200px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header header header header"
    "nav    nav    nav    nav"
    "pantalla pantalla pantalla pantalla"
    "footer footer footer footer ";
}

.header {
  grid-area: header;



}

.nav {
  grid-area: nav;
  background-color: rgba(75, 74, 74, 0.437);
  justify-content: center;
}

.pantalla {
  grid-area: pantalla;
}
.pantalla2 {
  grid-area: pantalla;
  
}

.footer {
  grid-area: footer;
  border-radius: 5px;
  height: 200px;
  min-height: 20px;
  background-color: #0066ff;
}

/* .container{
  background-image: url("https://i.im.ge/2022/07/24/F7KV08.jpg");
  } */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #0066ff;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  gap: 2vh;
  /* background-image: url("https://i.im.ge/2022/07/24/F7KV08.jpg"); */
  /* object-fit: cover; */
}

.menu-adm,
.menu-user {
  border: solid 2px rgb(194, 13, 13);
  padding: 16px;
  background-color: rgba(8, 49, 69, 0.208);
  min-height: 250px;

  /* min-height: max-content; */
}

.btnadm {
  border: solid 1px rgba(0, 0, 0, 0.342);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  background-color: rgb(180, 53, 53);
  padding: 8px;
  margin: 10px 10px 10px;
}

.btn-2 {
  border: solid 1px rgba(0, 0, 0, 0.342);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  margin: 10px 10px 10px;
  background-color: #6610f2;
  padding: 8px;


}

.btn-3{
  border: solid 1px rgba(0, 0, 0, 0.342);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  margin: 10px 10px 10px;
  background-color: #5c595fea;
  padding: 8px;
  font-size: 16px;
  }

.btnuser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.menu-adm h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.menu-user h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}


.nav h2 {
  font-family: Roboto;
  color: #3aac10;
  text-shadow: 1px 1px 2px black;

}


.pantalla {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 10px;
  border: solid 2px;
  justify-content: center;
}

.pantalla2{
   display: flex;
  flex-direction:row;
  padding: 10px;  
  }

.divBuscar {
  border: solid 2px rgba(24, 22, 22, 0.737);
  border-bottom: solid 4px black;
  border-radius: 8px;
  align-items:flex-start;
  text-align:left;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  /* width: 60%; */
  background-color: #39c0ed7b;
 /*  justify-content: center;
  position: absolute; */

}

.divBuscar input {
  border: solid 2px black;
  border-radius: 4px;
  /* text-align: center; */
  margin-top: 10px;
}

.card {
  border: solid rgba(55, 104, 68, 0.507) 2px;
  text-decoration: none;
  width: 350px;
  margin: 8px;
}

.card-text {
  /* background-color: rgba(0, 0, 0, 0.265);
      padding: 2%;
      border: solid 2px;
      border-radius: 10px; */
  text-shadow: 1px 1px 2px black;
}

.card-body {
  margin: 0;
}

.card img {
  border: solid 1px;
  padding-bottom: 0;
  max-width: 150px;
  padding: 2%;
}


/*Formulario agregar proveedor*/
.forAgreProv {
  border: solid 1px black;
  border-style: outset;
  border-radius: 5px;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 20px;
 
  background-color: #adb5bd;
  /* box-sizing: border-box; */
  z-index: 101;
}

.forAgreProv h2 {
  text-align: center;
  font-stretch: expanded;
  text-shadow: 1px 1px 2px black;
  padding-bottom: 20px;
}

.forAgreProv,
label {
  text-shadow: 1px 1px 2px black;
  margin-bottom: 4px;
}


.btnAgreNuevProv {
  text-shadow: 2px 2px 6px black;
  display: flex;
  width: 30%;
  align-self: flex-end;
  justify-content: center;
  box-sizing: content-box;
  margin-top: 4%;
}

.btnAgreNuevProv span {
  margin-bottom: 0;
  box-sizing: border-box;
  text-shadow: rgba(0, 0, 0, 0.353);
  display: flex;

}




/* DARK MODE */



body {
  background-color: var(--color-fondo);
  color: var(--color-fuente);
}

h4,
h2 {
  /* background-color:var(--color-fuente); */
  color: var(--color-fondo);
  /* text-decoration: none;
        text-transform: uppercase;
        padding-top:1rem;
        padding-bottom:1rem;
        padding-left:.75rem;
        padding-right:.75rem;
        border-style:solid;
        border-width: .2rem; */
  border-color: var(--color-fuente);
  /* border-radius: 2rem; */
}

.card {
  background-color: var(--color-fondo);
  color: var(--color-fuente);

  /* text-decoration: none;
      text-transform: uppercase;
      padding-top:1rem;
      padding-bottom:1rem;
      padding-left:.75rem;
      padding-right:.75rem;
      border-style:solid;
      border-width: .2rem; */
  /* border-color: var(--color-fuente); */
  /* border-radius: 2rem; */
}

a:hover {
  background-color: var(--color-fondo);
  color: var(--color-fuente);
  text-decoration: none;
}

/*Botón de cambio de tema*/

#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.text-center {
  text-align: end !important;
  margin: 10px;
}

#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-fuente);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-fondo);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--color-fuente);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-fuente);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkmode {
  align-self: flex-end;
  margin-right: 10px;
}

.darkmode p {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}