html {
  background-color: #000000;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header header header header"
    "nav    nav    nav    nav"
    "pantalla pantalla pantalla pantalla"
    "footer footer footer footer ";
}

/* .container * {
  border-radius: 10px;
} */

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.pantalla {
  grid-area: pantalla;
}

.pantalla2 {
  grid-area: pantalla;
}

.footer {
  grid-area: footer;
}

/* .container{
  background-image: url("https://i.im.ge/2022/07/24/F7KV08.jpg");
  } */

.header,
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #0052ce;
  padding: 8px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  /* background-image: url("https://i.im.ge/2022/07/24/F7KV08.jpg"); */
  /* object-fit: cover; */
}

.redesSociales,
ul {
  display: flex;
  gap: 2em;
  justify-content: space-around;
  margin-top: 20px;
  height: fit-content;
}

.icono {
  color: #fbe2dd;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.61);
  filter: drop-shadow(0 2px 5px rgba(3, 8, 1, 0.807));
}

.icono :hover {
  transform: scale(110%);
  transition: 0.5s;
}

.menu-adm,
.menu-user {
  border: solid 2px rgba(12, 11, 11, 0.598);
  border-radius: 10px;
  padding: 2vh;
  background-color: rgba(8, 49, 69, 0.208);
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  background-color: rgb(177, 169, 168);
}

/* .menu-user{
  border: solid 2px rgba(12, 11, 11, 0.598);
  padding: 2vh;
  background-color: rgba(8, 49, 69, 0.208);
  min-height: 250px;
  display: flex;
  flex-direction: column;
} */

/* .btnadm {
  border: solid 1px rgba(0, 0, 0, 0.342);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  background-color: rgb(180, 53, 53);
  padding: 8px;
  margin: 10px 10px 10px;
} */
.btn-sm {
  margin-bottom: 8px;
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
}

.btn-sm p {
  margin: 0;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}

.btn-danger {
  margin-bottom: 8px;
  border: solid 1px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
}

.btn-danger h1 {
  margin: 0;
  font-weight: bolder;
  font-size: 16px;
  margin-left: 8px;
}

/* div navegacion  */

.btn-2clima {
  background-color: #6d6e23;
  border: solid 1px rgba(0, 0, 0, 0.342);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  margin: 10px 10px 10px;
  padding: 8px;
}

.btn-3 {
  border: solid 1px rgba(0, 0, 0, 0.342);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  margin: 10px 10px 10px;
  background-color: #5c595fea;
  padding: 8px;
  font-size: 16px;
}

/* .btnuser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

} */

/* .menu-adm h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
} */

/* .menu-user h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
} */

.pantalla {
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;

  justify-content: center;

  border: 8px solid;
  border-image: url(https://previews.123rf.com/images/savanno/savanno1803/savanno180300048/96879823-bot%C3%B3n-cuadrado-textura-de-metal-cepillado.jpg) 30 / 8px / 0px stretch;
  background-image: radial-gradient(circle at 18.86% 41.66%,
      #aacbff 0,
      #3c78f2 50%,
      #002d73 100%);
}
/* .pantalla{
  transition: all 0.8s;
} */

.pantalla2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.buscadorProv {
  width: 30%;
}

.divBuscar {
  height: fit-content;
  border: solid 2px rgba(24, 22, 22, 0.737);
  border-bottom: solid 4px black;
  border-radius: 4px;
  text-align: center;
  padding: 6px 10px 6px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 16px;
  margin-left: 16px;
  /* width: 60%; */
  background-image: radial-gradient(circle at 31.38% 36.96%,
      #fbe2dd 0,
      #e9dad6 16.67%,
      #d6d1d0 33.33%,
      #c3c8ca 50%,
      #b0bec5 66.67%,
      #9fb5c1 83.33%,
      #8facbd 100%);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
  /*  justify-content: center;
  position: absolute; */
}

.divBuscar p {
  color: #000000;
  margin-bottom: 2px;
}

.btn-info {
  border: solid 1px;
  height: 32px;
  margin-bottom: 5px;
  margin-left: 4px;
}

.fa-magnifying-glass {
  display: flex;
  align-self: flex-start;
}

.imgLogo {
  display: flex;
  padding: 0;
  margin: 0;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
}

.imgLogo a img {
  border-radius: 5px;
  max-height: 100px;
  object-fit: cover;
}

.inputFormulario {
  border-radius: 6px;
  text-align: center;
  width: 80%;
}

.card-text {
  text-shadow: 1px 1px 2px black;
}

.card-body {
  margin: 0;
}

.card img {
  background-color: rgb(177, 169, 168);
  padding-bottom: 0;
  max-width: 150px;
  padding: 2%;
}

/*Formulario agregar proveedor*/
.forAgreProv {
  border: solid 1px black;
  border-style: outset;
  border-radius: 5px;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 20px;
  background-image: radial-gradient(circle at 31.38% 36.96%,
      #fbe2dd 0,
      #e9dad6 16.67%,
      #d6d1d0 33.33%,
      #c3c8ca 50%,
      #b0bec5 66.67%,
      #9fb5c1 83.33%,
      #8facbd 100%);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
  z-index: 101;
}

.forAgreProv h2 {
  text-align: center;
  font-stretch: expanded;
  text-shadow: 1px 1px 2px black;
  padding-bottom: 20px;
}

.forAgreProv,
label {
  text-shadow: 1px 1px 2px black;
  margin-bottom: 4px;
}

.btnAgreNuevProv {
  text-shadow: 2px 2px 6px black;
  display: flex;
  width: 30%;
  align-self: flex-end;
  justify-content: center;
  box-sizing: content-box;
  margin-top: 4%;
}

.btnAgreNuevProv span {
  margin-bottom: 0;
  box-sizing: border-box;
  text-shadow: rgba(0, 0, 0, 0.353);
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #0052ce;
  padding: 8px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  min-height: 96px;
}

.card {
  border: solid rgba(0, 0, 0, 0.507) 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 350px;
  max-height: 400px;
  margin: 8px;
  background-image: radial-gradient(circle at 25.59% 32.91%,
      #ffffff 0,
      #ffffff 12.5%,
      #e3f9ff 25%,
      #c1e8fa 37.5%,
      #e2e9ed 50%,
      #c9dde7 62.5%,
      #7abee6 75%,
      #5db4e3 87.5%,
      #008edb 100%);
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);
}

.cardClima {
  display: flex;
  width: fit-content;
  justify-items: center;
  padding: 0px;
  text-align: center;
  background-image: radial-gradient(circle at 37.98% 35.68%,
      #ffffff 0,
      #ffffff 10%,
      #ffffff 20%,
      #ffffea 30%,
      #fbf0d0 40%,
      #f2deb5 50%,
      #eacb9b 60%,
      #e4ba84 70%,
      #dfa971 80%,
      #dc9862 90%,
      #d98956 100%);
}

.bodyClima img {
  border: solid 1px rgb(177, 30, 30);
  margin-bottom: 8px;

  background-image: url("https://64.media.tumblr.com/94b72cab6aa567e9d46e1fb493fd69fb/320c3872216d1f99-72/s540x810/67792d5235d9fcd04d57042b8a808c8e081f92f1.gifv");
  width: 100%;
}

.card-text,
span {
  font-size: 12px;
}

/* html Elementos de seguridad */
.normasSeguridad {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: fit-content;
  width: 100%;
  padding: 10px;
}

.normasSeguridad h1 {
  color: #020202;
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);

  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.imgSeg1,
.imgSeg2 {
  margin-bottom: 8px;
  height: fit-content;
}

.imgSeg1 .imgSeg2,
img {
  max-width: 100%;
  max-height: 100%;
}

.videoSeguridad {

  height: fit-content;

}

.videoSeguridad,
iframe {
  height: 350px;
  width: 100%;

}

.normasSeguridad p {

  align-self: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;

}

.btnSeguridad {
  align-self: flex-end;
  padding-bottom: 32px;
  font-weight: bold;
  box-shadow: 10px 4px 8px 4px rgba(12, 2, 4, 0.551);

}

/* mapa google */
/* #map {
	height: 500px;
	width: 100%;
} */